.feedback {
  background-color: $sky;
  padding: 92px 0 112px;
  background-image: url("../img/icon/triangle.svg"), url("../img/icon/triangles-form.svg");
  background-repeat: no-repeat;
  background-position: 175px -60px, 1556px 35px;

  & .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1285px;

    & img {
      margin-top: 69px;
      margin-left: -25px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 80px 0 104px;
    background-image: none;

    & .wrapper {
      width: 100%;

      & picture {
        display: none;
      }
    }
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 104px;
  }
}

.feedback__form {
  position: relative;
  width: 570px;
  min-height: 461px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;

  & h2 {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    color: $white;
    width: 100%;
    margin: 0;
    margin-left: -4px;
  }

  & p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    margin: 10px 0 51px;
    width: 100%;
  }

  & input:not([type="checkbox"]) {
    background-color: rgba($white, 0.1);
    padding: 14px 16px;
    width: 270px;
    height: 50px;
    border: none;

    &::placeholder {
      color: $white;
    }
  }

  & textarea {
    resize: none;
    width: 100%;
    min-height: 154px;
    background-color: rgba($white, 0.1);
    border: none;
    padding: 13px 16px;
    margin-top: 40px;
    margin-bottom: 43px;

    &::placeholder {
      color: $white;
    }
  }

  & button {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 14px 18px;
    width: 270px;
    min-height: 45px;
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    background-color: transparent;
  }

  & label[for="doc"] {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 270px;
    color: rgba($white, 0.8);
    padding-left: 40px;
    padding-top: 8px;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 8px;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: 1px solid $white;
    }
  }

  & input[type="checkbox"] {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  & input[type="checkbox"]:checked + label[for="doc"] {
    &::before {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 2L3.5 5L8 0.5' stroke='white'/%3E%3C/svg%3E");
    }
  }

  @media (max-width: $tablet-width) {
    width: 591px;
    margin-left: 4px;

    & h2 {
      font-size: 32px;
      line-height: 45px;
      margin-left: -4px;
    }

    & p {
      font-size: 16px;
      line-height: 22px;
      margin: 15px 0 55px;
    }

    & input:not([type="checkbox"]) {
      width: 280px;
    }

    & textarea {
      margin-top: 43px;
      margin-bottom: 45px;
      min-height: 159px;
    }

    & button {
      width: 280px;
    }

    & label[for="doc"] {
      width: 280px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 15px;
    margin-left: 0;

    & h2 {
      font-size: 28px;
      line-height: 39px;
      margin: 0;
    }

    & p {
      font-size: 16px;
      line-height: 22px;
      margin: 13px 0 26px;
    }

    & input:not([type="checkbox"]) {
      width: 100%;
      margin-bottom: 32px;
    }

    & textarea {
      margin-top: 0;
      margin-bottom: 30px;
      width: 100%;
      min-height: 104px;
    }

    & button {
      width: 100%;
    }

    & label[for="doc"] {
      width: 100%;
      margin-top: 23px;
      padding-left: 34px;

      &::before {
        left: 0px;
        width: 17px;
      }
    }
  }
}

