$dark-blue: #1b2d37;
$dl-blue: #203c42;
$white: #ffffff;
$icon: #cdcdcd;
$grey: #788891;
$light-grey: #c4c4c4;
$sky: #00b2ff;
$black: #000000;
$dark-gray: #353735;
$light-white: #fafafa;
$two-white: #ebebeb;
$dull-gray: #666666;

// Основные брекпоинты
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
